<link rel="stylesheet" href="/style.css">

<div class="container">
    <div class="card">
        <h2>Register</h2>

        <form method="POST">
            <input name="username" placeholder="Username" required>
            <input name="password" type="password" required>
            <input name="gender" placeholder="Gender" required>
            <input name="ticketNumber" placeholder="Ticket Number" required>
            <input name="row" placeholder="Row">

            <button>Register</button>
        </form>

        <p>Already have an account?</p>
        <a href="/login">Login</a>
    </div>
</div>